include ./side-bar_menu-item.pug
include ../icons/settings-cog.pug

mixin sideBar(user, sideBar, csrfToken)
    div( class="flex h-full fixed top-0 left-0 bottom-0  w-16 flex-col justify-between border-e border-l-background-accent dark:border-d-background-accent bg-l-background dark:bg-d-background")
        div
            div( class="inline-flex size-16 items-center justify-center group relative" )
                span( class="grid size-10 place-content-center rounded-lg bg-l-primary-400 dark:bg-d-primary-500 text-xs text-d-text dark:text-l-text")
                    | #{user.username[0].toUpperCase()}
                
                span(
                    class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible whitespace-nowrap"
                    ) Hi #{user.username}
            div( class="border-t dark:border-d-background-accent border-l-backgound-accent" )
                div( class="px-2" )
                    div( class="py-4" )
                        +menuItems([ sideBar.active ])
                    ul( class="space-y-1 border-t border-l-background-accent dark:border-d-background-accent pt-4" )
                        li
                            +menuItems(sideBar.inactive)
        div( class="sticky inset-x-0 bottom-0 border-t border-l-background-accent dark:border-d-background-accent bg-l-background dark:bg-d-background p-2" )
            form( action="/v1/auth/logout" method="post" )
                input(type="hidden" value=`${csrfToken}` name="_csrf")
                button(
                        type="submit"
                        class="group relative flex w-full justify-center rounded-lg px-2 py-1.5 text-sm text-l-text-accent dark:text-d-text-accent hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-slate-900 dark:hover:text-gray-200"
                        )
                    svg(
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-5 opacity-75"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                            )
                        path(
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                                )
    
                    span(
                            class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                            ) Logout
